* {
  box-sizing: border-box;
  margin: 0
}

#App {
  background-color: rgb(36, 33, 33);
}

body { /* in future replace background with maybe something from tsParticle or the like*/
  background-image: url('./images/banner_image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

h1,h2 {
  color: white;
  background-color: hsla(100, 10%, 70%, 40%);
}


.carousel-image {
  height: 50vh;
  width: 70vw;
  object-fit: contain;
}

.carousel-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.banner-image {
  width: 100vw;
  height: 15vh;
  object-fit: cover;
}

#carousel-caption {
  color: rgb(255, 253, 253);
  background-color: hsla(100, 10%, 70%, 40%);
}

#carousel-caption > p {
  font-weight: 500;
}

.category-card-img {
  height: 30vh;
  object-fit: cover;
}

.card-ele {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  padding: auto;
  width: 20vw;
  height: 10vh;;
}

.landing-card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content:space-evenly;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.product-cards {
  display: flex;
  align-items: center;
  order: 3;
  width:30vw;
  margin: 0.5rem
}

.product-images {
  width:10vw;
  height: 50vh;
  object-fit: cover;
}

#purchase-button:hover {
  background-color: green;
}

#product-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

#product-info-img {
  width: 75vw;
  height: 75vh;
  object-fit: contain;
}

#cart-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.cart-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
  margin: 10px
}

.cart-image {
  height: 25vh;
  object-fit: contain;
}

#user-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  flex-flow: row nowrap;
  flex-grow: 1;
  flex-shrink: 1;
  margin: 0;
  color:white;
}

#search-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  flex-shrink: 5;
}

#search-field {
  width: 30vw;
}

#nav-user-container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  color:white;

}

.nav-user-img {
  height: 3vh;
}

.cart-icon {
  z-index: 0;
  position: relative;
}

#cart-alert {
  position: fixed;
  width: 100vw;
  z-index: 1;
  background-color: hsla(100, 50%, 70%, 90%); /*added some transparency to avoid blocking text with the alert box - overrode bootstrap stylings*/
}

#cart-count {
  z-index: 2;
  position: fixed;
}