* {
  box-sizing: border-box;
  margin: 0
}

#App {
  background-color: grey;
}

h1,h2 {
  color: black;
}

.carousel-image {
  height: 50vh;
  width: 70vw;
  object-fit: contain;
}

.carousel-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.banner-image {
  width: 100vw;
  height: 15vh;
  object-fit: cover;
}

#carousel-caption {
  color: rgb(255, 253, 253);
  background-color: hsla(100, 10%, 70%, 40%);
}

#carousel-caption > p {
  font-weight: 500;
}

.category-card-img {
  height: 30vh;
  object-fit: cover;
}

.card-ele {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  padding: auto;
  width: 20vw;
  height: 10vh;;
}

.landing-card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content:space-evenly;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.product-cards {
  display: flex;
  align-items: center;
  order: 3;
  width:30vw;
  margin: 0.5rem
}

.product-images {
  width:10vw;
  height: 50vh;
  object-fit: cover;
}

#purchase-button:hover {
  background-color: green;
}

#product-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

#product-info-img {
  width: 75vw;
  height: 75vh;
  object-fit: contain;
}